body{
    background-color: #cdb4db
}


h2{
    background-color: #ffc8dd;
    text-align: center;
    border: black 2px solid;
}
pre{
    background-color: #ffafcc;
    font-size: 15px;
}

table{
    background-color:#bde0fe ;
    border: black 2px solid;
    width: 30%;
}
th{
    background-color: #a2d2ff;
}

